#emailNewsletter{
	width: 278px;
}

#contatoFooter{
	height: 124px;
}

#divNumTelefone{
	width: 120px;
	margin-left: 20px;
	margin-top: -20px;
}

#divEmailContato{
	margin-left: 20px;
	margin-top: -20px;
}