{include file="../app/header.html"}
<link href="/semhora/public/css/events.css" rel="stylesheet">
<div class="container-fluid">
  <div class="row content">
    <h3>Lista de Eventos</h3>
    {include file="../app/sidenav.html"}
    {if isset($events[0])}
      {foreach from=$events item=event}
        <div class="col-sm-3">
            {if $event->getImagem() eq ''}
            <img src="/semhora/public/images/no-image-200x200.jpg" class="img-responsive">
            {else}
            <img src="/semhora/public/uploads/{$event->getImagem()}" class="img-responsive" alt="{$event->getNome()}">
            {/if}
            <h4><small>{$event->getNome()}</small></h4>
            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#modal{$event->getId()}">Detalhes</a>
            <h5><span class="glyphicon glyphicon-time"></span> Evento criado por {$event->getAuthor()},<br> {$event->getCreatedAt()}</h5>
        </div>
        {/foreach}
     {else}
      <div class="col-sm-9">
          <div class="jumbotron mtop20">
              <h1>Olá visitante!</h1>
              {if isset($key)}
                <p>Não encontramos nada com "{$key}"! :(</p>
              {else}
                <p>Ainda não temos nenhum evento cadastrado! :(</p>
              {/if}
          </div>
      </div>
     {/if}
  </div>
</div>
{include file="../app/footer.html"}
